<h1 id="page_title">Articles i've written</h1>

<div id="post_wrapper" class="skinny_wrapper">
	<div class="post">
		<% @posts.each do |post|%>
			<p class="date"><%= post.created_at.strftime('%B %d, %Y')%></p>
			<h2><a href="#"><%= link_to post.title, post%></a></h2>
			<hr>
		<%end%>
	</div>

	<div class="pagination">
		<span class="previous_page disabled">Previous</span>
		<em class="current">1</em>
		<a rel="next" href="#">2</a>
		<a class="next_page" href="#">Next</a>
	</div>
</div>