<h1 id="page_title">Contact with me!</h1>

<div class="skinny_wrapper wrapper_padding">
	<label>Name</label><br>
	<input type="text">

	<br>

	<label>Emails</label><br>
	<input type="text">

	<br>

	<label>Message</label><br>
	<textarea></textarea>

	<br>

	<input type="submit" value="Send Message" class="button">
</div>