#post_wrapper{
	padding: 3em 0;
	.post{
		text-align: center;
		.date{
			font-size: .9em;
			margin: 0;
		}
		h2{
			margin: 0;
			font-size: 2em;
			text-transform: uppercase;
			a{
				text-decoration: none;
				color: $dark;
				&:hover{
					color: $highlight;
				}
			}
		}
		hr{
			margin: 3em auto;
		}
	}
}

//----------- Post Show

#post_show_content{
	hr{
		margin: 3em auto;
	}
	header{
		text-align: center;
		.date{
			font-size: .9em;
			color: $light;
			margin: 0;
		}
		h1{
			margin: 0;
		}
	}
}

#content{
	p{
		text-align: justify;
	}
}

#share_box{
	text-align: center;
	p{
		padding: 0 0 1em 0;
		margin: 0;
		font-weight: 700;
		text-transform: uppercase;
		color: $dark;
		font-size: .85em;
	}
	i{
		color: $dark;
		padding: 1em 1.5em;
		&:hover{
			color: $highlight;
			cursor: pointer;
		}
	}
}


//----------- Pagination

.pagination:before,
.pagination:after{
	content: " ";
	display: table;
}

.pagination:after{
	clear: box;
}

.pagination{
	text-align: center;
	margin: 3em 0 0 0;
	a, .previous_page, .current, .next_page{
		padding: .75em 1em;
		margin: 0 .4em;
		border-radius: .15em;
		line-height: 20px;
		text-decoration: none;
		background: $back;
		font-weight: 700;
		font-size: .75em;
		font-style: normal;
		color: $dark;
		&:hover{
			background: $highlight;
			color: $back;
		}
	}
	.current{
		background: $highlight;
		color: $back;
	}
	.disabled{
		color: #C0C0C0;
		&:hover{
			color: #C0C0C0;
			background: $back;
		}
	}
} 

#admin_links{
	border-top: 2px solid $border;
	border-bottom: 2px solid $border;
	text-align: center;
	padding: 1em 0;
	margin: 3em 0;
	a{
		color: $light;
		font-weight: 700;
		font-size: .8em;
		padding: 0 4em;
		text-transform: uppercase;
		text-decoration: none;
		&:hover{
			color: $highlight;
		}

	}
}

